$white: #FFFFFF;
$black: #171717;
$blue: #001746;
$bgGray: #f6f6f6;
$primary-colour: #40383b; 
$activeColour: #e61921;
$hoverColour: #333;
$secondary-colour: #535353;
$light-colour: #656565;
$primary-bg: #3a3a3a;
$secondary-bg: #222222;
$black-theme: #1b1b1c;
$textGray: #c4c4c4;

$borderDark: $black-theme;
$navIcon: $black-theme;

$themeBg01: $bgGray;
$serviceListColourHome: $white;
$titleGray: $textGray;
$templat-active: #CCC06D;
